app = "bridge-app"
primary_region = "ewr"

[build]

[env]
  PORT = "8080"
  SQLITE_PATH = "./src/data/bridges.db"
  MODEL_CHECKPOINT_PATH = "results/checkpoints/t5-small_best.pth"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "off" 

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
